html, body {height: 100%;}

body {background-image: url(./images/perkament.jpg);
background-position: center;
background-size: cover;
}

.container {
    background-color: rgba(245, 245, 220, 0.477);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
